# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ENVIRONMENT
/**/.env

# PACKAGES
/**/node_modules
/**/yarn.lock
/**/package-lock.json

# PRODUCTIONS
**/build

# TESTING
**/coverage

# TMP
/**/tmp

# SQLITE
/**/*.sqlite

# ZIPPED (ASSETS)
/**/*.zip
